#!/bin/bash

# notification mails sent to this address
export admin_email=admin@domain.com
export server=SERVERNAME
export scripts_dir=/usr/local/shbackup
export date=$(date +%Y%m%d)
export backup_base=/data/backup
export backup_dir=/data/backup/$date
export s3_bucket=rbbackups
export s3_prefix="/$server"
export postgresql_dir=/usr/local/pgsql
export ftp_user=
export ftp_pass=$(cat ./ftp_pass)
export ftp_host=
